body{
    background-color: #abb6c4;
    font-family: verdana;
    color: black;
    align-content: center;
    justify-content: center;
}
button{
    background-color: #3e5572;
    text-align: center;
    font-family: verdana;
    color: #abb6c4;
    align-content: center; 
    width: 90px;
    height: 60px;
    border-radius: 10px;
    margin: 0;
}
button:focus{
    background-color: black;
}
#tweeter{
    align-content: center;
    justify-content: center;
}
h1{
    text-align: center;
    border-width: 20px;
    border-color: #3e5572;
    border-style: double;
}


#tweeter{
    border-width: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left:10px;
    margin-right:10px;
    float: center; 
}
h3 {
    text-align: right; 
}

.twot{
    border-color: #dddddd;
    border-width: 5px;
    border-spacing: 20px;
    border-style: solid;
    width: 750px;
    border-radius: 5px;
    flex-direction: row;
    justify-content: center;
    background-color: #e8eaef;
    align-content: center;
}